# Gitignore

#Local Settings
/config/settings.py
/config/config.yaml
__pycache__
/cogs/__pycache__/*

#Local Test Data
/data/*.log
!/data/README.md

#VS Code Workspace Files
*.code-workspace
*.vscode

#tests
/tests/notebooks
__pycache__/test.cpython-310.pyc

# VENV
venv/